{% extends 'layout.html' %}

{% block content %}
<div class="jumbotron">
    <br>
    <h1 class="display-4">Your Personal Reading Log</h1>
    <a href="{{url_for('main_bp.create_new')}}" class="btn btn-info" role="button">Add New Book/Article</a>
    <a href="{{url_for('main_bp.create_public_post')}}" class="btn btn-primary" role="button">Create a Public Post</a>
    <br>
    <br>
    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
    {% endfor %}
    <div class="form-inline">
        <form action="{{url_for('main_bp.create_new_cat')}}" method="POST">
          <input type="text" class="form-control" id="title"  name="title" required>
          <button type="submit" class="btn btn-success">Add Category</button>
        </form>
    </div>
</div>
<ul class="nav nav-tabs">
  <li class="nav-item"> <a class="nav-link active" href="#">All&nbsp;</a> </li>
  {% for cat in cats %}
      <li class="nav-item"> <a class="nav-link" href="#">{{cat.name}}</a> </li>
  {% endfor %}
  <li class="nav-item"> <a class="nav-link" href="{{ url_for('main_bp.reading_list')}}">Reading List&nbsp;</a></li>
  <li class="nav-item"> <a class="nav-link" href="{{ url_for('main_bp.my_public_posts')}}">My Public Posts&nbsp;&nbsp;</a></li>

  <div class="btn-toolbar" role="toolbar">

   <div class="btn-group mr-2" role="group"></div>
  </div>
</ul>
<div class="btn-toolbar" role="toolbar"> </div>

<!-- Start of the User's log contents -->
<div class="card text-left">
{% for book in books|reverse %}

  <div class="card-header position-sticky justify-content-between">
      <div class="float-right">
      <small>Category: {{book.category.name}}</small> <br>
      <small class="text-muted">Created {{ book.date_started.strftime("%m/%d/%Y") }}</small>
      </div>
      {% if book.author != "" %}
          <h5 class="mb-1">{{ book.title }} by {{ book.author }}</h5>
      {% else %}
          <h5 class="mb-1">{{ book.title }}</h5>
      {% endif %}
      <p class="mb-1"> {{ book.description }} </p>
  </div>
  <div class="card-body">

  <!-- Logs for the book object -->
  {% for log in book.book_updates|reverse %}
  <div class="list-group">
    <div class="accordion" id="accordionExample">
         <div class="card">
            <div class="card-header" id="headingTwo">
            <div class="float-right">
                <div class="btn-group" role="group" aria-label="Basic example">
                   <button class="btn btn-outline-info" type="button" data-toggle="collapse" area-expanded="false" data-target={{"#logEdit" + log.title|string}}>&#128394;</button>
                   <a href="{{url_for('main_bp.delete_log', log_id=log.id)}}" class="btn btn-outline-danger" role="button">&#10060;</a>
                </div>
            </div>
            <h5 class="mb-0">
              <small class="text-muted">{{ log.date_created.strftime("%m/%d/%Y") }}</small>
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target={{"#collapseTwo" + log.title|string}} aria-expanded="false" aria-controls="collapseTwo">
              {{ log.title }}
              </button>
              <small> {{log.pages}}</small>
            </h5>
            </div>

        <div id={{"collapseTwo" + log.title|string}} class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            {{ log.text }}
          </div>
        </div>
      </div>
     <div id={{"logEdit" + log.title|string}} class="collapse multi-collapse">
      <div class="card-body">
        <form action="{{url_for('main_bp.update_log', log_id=log.id)}}" method="POST">
          <small> Make sure to hit submit before navigating to other tabs </small>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" value="{{log.title|string}}" name="title" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          
          <div class="form-group">
            <label for="read">Chapters/Pages Read</label>
            <input type="read" class="form-control" id="author" value="{{log.pages|string}}" name="read">
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          
          <div class="form-group">
            <label for="update">Body: </label>
            <textarea class="form-control" id="update" rows="3" value="{{log.text}}" name="update" required>{{log.text}}</textarea>
          </div>



          <button type="submit" class="btn btn-primary">Update Log</button>
        </form>
      </div>
    </div>
    </div>
  </div>
  {% endfor %}
  <!-- End of logs section -->

  <div class="end">
  
  <button class="btn btn-outline-success" type="button" data-toggle="collapse" area-expanded="false" data-target={{"#log" + loop.index|string}}>New Log</button>
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Categorize
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for cat in cats %}
    <a class="dropdown-item" href="{{url_for('main_bp.cat_book', book_id=book.id, cat_id=cat.id)}}">{{cat.name}}</a>
    {% endfor %}
  </div>

  <div id={{"log" + loop.index|string}} class="collapse multi-collapse">
      <div class="card-body">
        <form action="{{url_for('main_bp.update')}}" method="POST">
          <small> Make sure to hit submit before navigating to other tabs </small>
          <div class="form-group">
            <label for="title">Title of Post</label>
            <input type="text" class="form-control" id="title" placeholder="Title of update" name="title" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>

          <div class="form-group">
            <label for="pages">Pages/Chapters Read</label>
            <input type="text" class="form-control" id="pages" placeholder="Example input" name="pages">
          </div>

          <div class="form-group">
            <label for="update">Body of Update: </label>
            <textarea class="form-control" id="update" rows="3" name="update" required></textarea>
          </div>

          <div class="collapse" id="hidden_data">
              <div class="form-group">
                  <input type="number" id="book_num" value={{book.id}} name="book_num"/>
              </div>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    
    </div>
    </div>
{% endfor %}
</div>
{% endblock %}


