{% extends 'layout.html' %}

{% block content %}
<div class="container p-3 my-3 bg-light text-black">
<br>
<br>
  <h2>Create Public Post</h2>
  {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
  {% endfor %}
  <form action="{{url_for('main_bp.create_public_post')}}" method="post">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" placeholder="Enter the book/article" name="title" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    
    <div class="form-group">
        <label for="update">Body of Post: </label>
        <textarea class="form-control" id="update" rows="3" name="update" required></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}


