{% extends 'layout.html' %}

{% block content %}
<div class="jumbotron">
    <br>
    <h1 class="display-4">Your Personal Reading Log</h1>
    <a href="{{url_for('main_bp.create_new')}}" class="btn btn-info" role="button">Add New Book/Article</a>
    <a href="{{url_for('main_bp.create_public_post')}}" class="btn btn-primary" role="button">Create a Public Post</a>
</div>
<ul class="nav nav-tabs">
  <li class="nav-item"> <a class="nav-link" href="{{url_for('main_bp.myLog')}}">All&nbsp;</a> </li>
  {% for cat in cats %}
       <li class="nav-item"> <a class="nav-link" href="{{url_for('main_bp.myLogCat', cat_id=cat.id)}}">{{cat.name}}</a> </li>
  {% endfor %}
  <li class="nav-item"> <a class="nav-link active" href="#">Reading List&nbsp;</a></li>
  <li class="nav-item"> <a class="nav-link" href="{{ url_for('main_bp.my_public_posts')}}">My Public Posts&nbsp;&nbsp;</a></li>
      
  <div class="btn-toolbar" role="toolbar">
        
   <div class="btn-group mr-2" role="group"></div>
  </div>
</ul>
<div class="btn-toolbar" role="toolbar"> </div>

<ul class="list-group">
{% for book in books %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <b>{{titles[loop.index-1]}}</b>
    {% if book.complete %}
    <div class="btn-group" role="group" aria-label="Basic example">
       <a href="#" class="btn btn-success" role="button">Finished!</a>
       <a href="{{url_for('main_bp.delete', book_id=book.id)}}" class="btn btn-danger" role="button">Delete</a>
    </div>
    {% else %}
    <div class="btn-group" role="group" aria-label="Basic example">
      <a href="{{ url_for('main_bp.mark_done', book_id=book.id) }}" class="btn btn-outline-success" role="button">Mark as Complete</a>
      <button class="btn btn-outline-info" type="button" data-toggle="collapse" area-expanded="false" data-target={{"#log" + loop.index|string}}>Edit</button>
      <a href="{{ url_for('main_bp.delete', book_id=book.id) }}" class="btn btn-outline-danger" role="button">Delete</a>
    </div>
    {% endif %}
  </li>
  <div id={{"log" + loop.index|string}} class="collapse multi-collapse">
      <div class="card-body">
        <form action="{{url_for('main_bp.update_book_info', book_id=book.id)}}" method="POST">
          <small> Make sure to hit submit before navigating to other tabs </small>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" value="{{titles[loop.index-1]}}" name="title" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          
          <div class="form-group">
            <label for="author">Author</label>
            {% if book.author %}
            <input type="text" class="form-control" id="author" value="{{book.author}}" name="author">
            {% else %}
            <input type="text" class="form-control" id="author" name="author">
            {% endif %}
          </div>
          
          <div class="form-group">
            <label for="update">Description: </label>
            <textarea class="form-control" id="update" rows="3" value="{{book.description}}" name="update"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Update Book Info</button>
        </form>
      </div>
    </div>
{% endfor %}
</ul>
  
  
</div>
{% endblock %}


