{% extends 'layout.html' %}

{% block content %}
<div class="container p-3 my-3 bg-light text-black">
<br>
<br>
  <h2>Sign-up Form</h2>
  {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
  {% endfor %}
  <form method="post">
    <div class="form-group">
      <label for="uname">Username:</label>
      <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
        <label for="e-mail">Email address</label>
        <input type="email" class="form-control" id="e-mail"  placeholder="Enter email" name="e-mail">
        <small id="emailHelp" class="form-text text-muted">If recomendations aren't enabled, email will be discarded.</small>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="notif">
        <label class="form-check-label" for="exampleCheck1">Recieve Book and Article Recomendations</label>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}


